<h5>Seja bem-vindo a sua dashboard. <a href="/logout">Logout</a> | <a href="/">Retornar</a></h5>
{{#if receitas}}
<h2>Suas receitas (foram encontradas {{receitas.length}} receitas)</h2>
{{#each receitas}}

<div class="card w-100 mt-3">
    <div class="card-body p-3">
        <h2>{{nome}}</h2>
        <p>{{descricao}}</p>


        <a href="/receita?id={{_id}}" class="btn btn-primary">
            Visualizar
        </a>


        <a href="/update?id={{_id}}" class="btn btn-success">
            Atualizar
        </a>


        <a href="/delete?id={{_id}}" class="btn btn-danger">
            Excluir
        </a>


        <hr>
        <p>Criado por você em {{ data_publicacao }}</p>
    </div>
</div>

{{/each}}
{{else}}
<h2>
    Nenhuma receita foi encontrada, <a href="/criar">crie uma agora!</a>
</h2>
{{/if}}